<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% include 'css.html' %}
</head>
<body>
<div class="container col-xs-12">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        FriendsFinder
      </a>
        <p class="navbar-text">Rules</p>
    </div>
        <form class="navbar-form navbar-right" role="search">
            <button type="submit" class="btn btn-default">Login</button>
        </form>
  </div>
</nav>
    <div class="container-fluid">

            {% block content %}{% endblock %}

    </div>
</div>
</body>
</html>
{% include 'js.html' %}