{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-6">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
          <div class="form-group">
            <label class="col-sm-2 control-label">Query</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='q' placeholder="Enter query like: 'Oleg Usov'">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Age</label>
            <div class="col-sm-4">
              <input type="number" name='age' min="1" step="1" class="form-control" placeholder="Enter age"/>
            </div>
            <label class="col-sm-2 control-label">Sex</label>
            <div class="col-sm-4">
              <select class="form-control" name="sex">
                  <option value="0">Not specified</option>
                  <option value="1">Female</option>
                  <option value="2">Male</option>
              </select>
            </div>
          </div>
            <div class="form-group">
                <div class="checkbox">
                    <div class="col-sm-2">
                        </div>
                    <div class="col-sm-3">
                        <label >
                            <input type="checkbox" name="vk">
                            VK api
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label>
                            <input type="checkbox" name="linked">
                            LinkedIn api
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <label>
                            <input type="checkbox" name="twitter">
                            Twitter api
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <div class="col-sm-3">
                        </div>
                    <div class="col-sm-4">
                        <label>
                            <input type="checkbox" name="fb">
                            FaceBook api
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label>
                            <input type="checkbox" name="google">
                            Google+ api
                        </label>
                    </div>
                </div>
            </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-12">
              <input type="submit" class="btn btn-primary col-sm-9" value="Find friends!" />
            </div>
          </div>
        </form>
    </div>
<div class="col-xs-6">

</div>
            </div>

<div class="row">
{% if google %}
    <div class="col-xs-6">
        <h3>Google Plus Api</h3>
        <table class="table table-bordered">
            <tr>
                <th width="80px">Avatar</th>
                <th>Display name</th>
                <th>Page link</th>
                {% if request.user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
            {% for user in google %}
            <tr>
                <td align="center"><img src='{{ user.avatar }}'/></td>
                <td align="center">{{ user.name }}</td>
                <td align="center"><a href='{{ user.page }}'>Go on!</a></td>
                {% if request.user.is_authenticated %}
                <td align="center"><a href="#" class="btn btn-success">Add friend</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
{% if vk %}
    <div class="col-xs-6">
        <h3>Vk Api</h3>
        <table class="table table-bordered">
            <tr>
                <th width="80px">Avatar</th>
                <th>Display name</th>
                <th>Page link</th>
                <th>Gender</th>
                <th>Birthday</th>
                {% if request.user.is_authenticated %}
                <th></th>
                {% endif %}
            </tr>
            {% for user in vk %}
            <tr>
                <td align="center"><img src='{{ user.photo }}'/></td>
                <td align="center">{{ user.first_name }} {{ user.last_name }}</td>
                <td align="center"><a href='https://vk.com/{{ user.domain }}'>Go on!</a></td>
            {% if user.sex == 0 %}
                <td align="center">Gender not set</td>
            {% elif user.sex == 1 %}
                <td align="center">Male</td>
            {% else %}
                <td align="center">Female</td>
            {% endif %}
                <td align="center">{{ user.bdate }}</td>
                {% if request.user.is_authenticated %}
                <td align="center"><a href="#" class="btn btn-success">Add friend</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
</div>
{% endblock %}